* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100%;
  background-color: #ccc;
}

.header {
  width: 100vw;
  height: 50px;
  background-color: #000;
  color: #fff;
  display: inline-flex;
  align-items: center;
}


.header h2,
.header h3 {
  width: 33.3333%;
  
}

.memoryContainer {
  padding-left: 16px;
}

.messageContainer {
  text-align: center;
}

.scoreContainer {
  padding-right: 16px;
  text-align: end;
}

.gridType {
  background-color: #ccc;
  display: flex;
  width: 100%;
  height: 50px;
}

.gridContainer,
.themeContainer {
  width: 50%;
}

.gameContainer {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url('images/backgrounds/animalCardsBG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top; 
}

.gameBoard {
  width: 80vw;
  max-width: 700px;
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: .5%;
  width: 15.65%;
  display: flex;
  border: 2px solid #000;
}

.topCard {
  width: 100%;
}