* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url('images/animals/jungle.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.header {
  width: 100vw;
  height: 50px;
  background-color: #000;
  color: #fff;
  display: inline-flex;
  align-items: center;
}

.header h2,
.header h3 {
  width: 50%;
  padding-left: 16px;
}

.gridType {
  background-color: #ccc;
  display: flex;
  width: 100%;
}

.gridContainer,
.themeContainer {
  width: 50%;
}

.gameBoard {
  width: 80vw;
  max-width: 700px;
  margin: 24px auto;
  display: flex;
  flex-wrap: wrap;
}

.gameBoard div {
  margin: .5%;
  width: 15.65%;
  display: flex;
  align-content: center;
  justify-content: center;
  border: 2px solid #000;
}

.topCard {
}